$gradient: linear-gradient(180deg, rgba(255,246,118,1) 0%, rgba(230,251,118,1) 51%, rgba(190,255,118,1) 100%);

@mixin layout() {
    width: 64em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}

@mixin flex_column() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex_row() {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

body {
    background: rgb(255,246,118);
    /*background: #{$gradient};*/
    color: #636363;
    font-weight: 300;
    line-height: 1.65;
    text-align: center;
    height: 100vh;
}

.App {
    @include layout();
    @include flex_column();
    & > * {
        width: 80vw;
    }
    header {
        padding: 4em 0 2em 0;
        i {
            margin: 0 0 0.5em 0;
            background-color: white;
            width: 85px;
            height: 85px;
            border-radius: 50%;
            line-height: 85px;
        }
        h1 {
            margin: 0 0 0.25em 0;
            font-size: 3.25em;
        }
        p {
            margin: 0 0 40px 0;
            font-size: 1.25em;
            letter-spacing: -0.025em;
        }
    }
    nav {
        padding: 1em;
        box-sizing: border-box;
        border-radius: 0.25em 0.25em 0 0;
        background-color: #f7f7f7;
        ul {
            @include flex_row();
            li {
                margin: 0 0.35em;
                a {
                    display: inline-block;
                    height: 2.25em;
                    line-height: 2.25em;
                    padding: 0 20px;
                    border-radius: 8px;
                    &:hover {
                        background-color: rgba(222, 222, 222, 0.25);
                    }
                    &.active {
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
    article {
        background-color: #ffffff;
        @include flex_row();
        table {
            margin: 50px 0;
            border-collapse: collapse;
            td {
                width: 22px;
                border: 1px solid #aaa;
                font-family: monospace;
                font-weight: inherit;
                box-sizing: border-box;
                input[type='checkbox'] {
                    outline: none;
                }
            }
            tr {
                border: 1px solid #aaa;
            }
        }
        ul {
            margin: 50px 0;
            li {
                width: 300px;
                height: 35px;
                line-height: 35px;
                text-align: left;
                @include flex_row();
                justify-content: space-between;
                span {
                    width: 25px;
                    height: 100%;
                    line-height: 30px;
                    text-align: center;
                    font-size: 1.5em;
                }
                span:hover {
                    background-color: #aaa;
                    color: white;
                }
            }
        }
    }
    footer {
        padding: 4em 0 2em 0;
    }
}
